@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url(./reset.css);
@import url(./font.css);


:root {

/* foundation color */
--primary: #373f67;
--secondary: #5a85ee;
--tertiary: #719cf7;
--negative: #e11900;
--background: #ffffff;


  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

:focus-visible {
  outline: none;
  border: 4px solid orange;
  border-radius: 0.6em;
}
button, input{
  cursor: pointer;        
}