.start-container{
  max-width: 599px;
  margin: 0 auto;
  height: 100vh;
  /* background-color: pink; */
}

.link-container{
  /* background-color: aquamarine; */
  gap: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}





